body {
	max-width: 900px;
	font-family: 'Finger Paint', cursive;
	color: black;
	background-image: url("../images/metal.png");
}

h1 {
    position:  relative;
	top: 20px;
	font-size: 100px;
	left: 100px;

   

}

.logo{
    top: 50px;
	position: relative;
	left: 180px;
}

.logo1 {
	
  float: right;

}
	

h2 {
 font-size: 30px;
 position: relative;
 left: 50px;

}


a {

font:10px; color:white;

}

.main-container {

 max-width: 960px;

}

#recipes {

	background: firebrick;
	color: black;
	text-align: center;


}

.recipes {

	width: 80%;
	left: 300px;
}
#results {

	background: firebrick;
	color: black;
	text-align: center;


}
.results {

	width: 80%;
	left: 300px;
}

#store{

	background: firebrick;
	color: black;
	text-align: center;
}
.store {
	position: relative;
	top: 200px;
	float: right;
    right: 1px;
	width: 50%;
}
.ingredients{
	top: 20px;
	position:  relative;
	float: left;
	width: 70%;
	
}

#ingredients{
    
    background: firebrick;
	color: black;
	text-align: center;
	
}

.user-input {

	width: 60%;
	left: 200px;
}

#add-user{

	width: 30%;
	left: 300px;
}



#button1 {
	top:  20px;
	width: 30%;
    border: 10px;
    background: black;
    border-radius: 10px;
}



#button2 {
	top:  20px;
    width: 40%;
    font:10px; color: black;
    border: 10px;
    background: firebrick;
    border-radius: 10px;
}
.form-group{
	
	width: 40%;
    top: 100px;
    left: 100px;
}

#submit {

  float: left;
  color:black;
  background: firebrick;
  
 
}

.finish {
   top: 200px;
   position: relative;
   float: left;
}

#button3 {
  color: white;
  background: black;
  position: relative;
 
}

#go {
  color:black;
  background: firebrick;
  position: relative;
}

